Certificate Sneha Kumari.pdf
Sneha Kumari _ Google Isolated Sign Language Recognition _ Enhancing PopSign_s educational games  for learning ASL (ongoing competition) _ Variable length Time Series Data .mp4
Sneha _ Mentee Promotional KaggleX Banner Template_.pptx